/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute; text-decoration: none;color: #CDCDCD;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:10px; text-decoration: none;color: #EFEFEF; font-size: 72px; text-shadow: 1px 1px 4px #181818; opacity: 0.1;}
ul.bjqs-controls.v-centered li.bjqs-next a:hover{
opacity: 1;
}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:10px; text-decoration: none;color: #EFEFEF; font-size: 72px; text-shadow: 1px 1px 4px #181818; opacity: 0.1;}
ul.bjqs-controls.v-centered li.bjqs-prev a:hover{
opacity: 1;
}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%; background: #080808; border-radius: 0 0 10px 10px;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block; text-decoration: none;color: #484848; margin-right: 10px; margin-top: 5px; margin-bottom: 5px;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}
ol.bjqs-markers li a:hover {
        text-shadow: 0 0 8px #CCC;
        color: #888;

}
.active-marker a {
color: #F20 !important;
    text-shadow: 0 0 8px #810;
}
